<div class="table-responsive">
    <table class="table table-hover table-striped">
        <tr>
            <th>Title</th>
            <th>Date and time</th>
            <th>Description</th>
        </tr>
        @foreach (EntityClasses.UniversityEvent universityEvent in ViewBag.Events)
        {
            <tr>
                <td>@universityEvent.Title</td>
                <td>@universityEvent.DateAndTime</td>
                <td>@universityEvent.Description</td>
            </tr>
        }
    </table>
</div>