
@{
    ViewBag.Title = "AdminPanel";
}

<h2>AdminPanel</h2>

@Html.ActionLink("Create user", "CreateUser")
@Html.ActionLink("Accounts", "Accounts")
@Html.ActionLink("Publish information", "PublishInformation")