@model EntityClasses.AssignSubjectToAssistantViewModel
@{
    ViewBag.Title = "AssignLab";
}

<h2>Assign subject to assistant</h2>
<hr />

@using(Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.SubjectId)
    <div class="form-horizontal">

        <div class="form-group">
            <label class="control-label col-md-2">Select a faculty</label>
            <div class="col-md-10">
                @Html.DropDownList("Faculties", (SelectList)ViewBag.Faculties, "-- Select a faculty --", new { onchange = "getFacultyCourses()" })
            </div>
        </div>

        <div id="facultyCourses"></div>
        <div id="courseSubjects"></div>
        <div id="assistants"></div>

    </div>
}
<script src="~/Scripts/AssignLab.js"></script>